.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-salary {
  text-align: center;
}

.form-salary span {
  display: block;
  margin-bottom: 8px;
}

.form-salary input {
  padding: 8px;
  margin-bottom: 16px;
}

.form-salary button {
  padding: 10px 20px;
  background-color: rgba(137, 75, 5, 0.9);
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.form-salary button:hover {
  background-color: rgba(231, 125, 4, 0.9);
}
